.formFieldContainer {
  width: 100%;
  /* padding: 2rem; */
  display: flex;
  justify-content: center;
}

.formFieldSubContainer {
  width: 40%;
  /* padding: 5rem; */
}

.fieldStyle {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0rem 0.25rem;
}

.fieldStyle input {
  padding: 0.5rem 1rem;
}

.fieldStyle select {
  padding: 0.5rem 1rem;
}

.fieldStyle option {
  padding: 0.5rem 1rem;
}

.error {
  color: red;
  font-size: 0.8rem;
}
